In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

sheet_name = ['/content/drive/MyDrive/saison_file.csv', '/content/drive/MyDrive/precoce_file.csv']

df_saison = pd.read_csv(sheet_name[0])
df_precoce = pd.read_csv(sheet_name[1])

# Add 'variety' column with value 1 to df_saison
df_saison['variety'] = 1

# Add 'variety' column with value 2 to df_precoce
df_precoce['variety'] = 2

# Merge the two datasets
df = pd.concat([df_saison, df_precoce], ignore_index=True)

In [ ]:
df

,DTronc,LTronc,DChar,LChar,DChar1,LChar1,DChar2,LChar2,DChar3,LChar3,...,PFr3,DFr3,PFr4,DFr4,PFr5,DFr5,PFr6,DFr6,year,variety
0,65.5,43.0,37.5,54.0,62.5,39.0,48.0,4.0,13.5,12.0,...,136,64.50,NaN,NaN,NaN,NaN,NaN,NaN,2019,1
1,65.5,43.0,37.5,54.0,62.5,39.0,NaN,NaN,NaN,NaN,...,140,67.50,147,65.00,NaN,NaN,NaN,NaN,2019,1
2,65.5,43.0,37.5,54.0,62.5,39.0,NaN,48.0,19.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,1
3,65.5,43.0,37.5,54.0,62.5,39.0,NaN,NaN,NaN,5.5,...,119,64.00,NaN,NaN,NaN,NaN,NaN,NaN,2019,1
4,65.5,43.0,37.5,54.0,62.5,39.0,NaN,NaN,NaN,28.0,...,139,67.00,NaN,NaN,NaN,NaN,NaN,NaN,2019,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5510,68.0,33.0,35.0,148.2,71.0,143.2,43.5,9.0,38.2,27.5,...,140.0,63.68,NaN,NaN,NaN,NaN,NaN,NaN,2022,2
5511,68.0,33.0,35.0,148.2,71.0,143.2,43.5,32.0,NaN,NaN,...,80.0,54.18,NaN,NaN,NaN,NaN,NaN,NaN,2022,2
5512,68.0,33.0,35.0,148.2,71.0,143.2,43.5,40.3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,2
5513,68.0,33.0,35.0,148.2,71.0,143.2,43.5,42.3,NaN,NaN,...,180.0,67.77,NaN,NaN,NaN,NaN,NaN,NaN,2022,2
5514,68.0,33.0,35.0,148.2,71.0,143.2,43.5,46.3,NaN,NaN,...,100.0,59.99,140.0,67.29,100.0,57.19,NaN,NaN,2022,2

In [ ]:
'''poids=['PFr1', 'PFr2', 'PFr3', 'PFr4', 'PFr5', 'PFr6']
total_weight = df[poids].sum(axis=1)
df['Total_Poids'] = total_weight'''
import pandas as pd

poids = ['PFr1', 'PFr2', 'PFr3', 'PFr4', 'PFr5', 'PFr6']

# Convert the columns to numeric
df[poids] = df[poids].apply(pd.to_numeric, errors='coerce')

df['Total_Poids'] = df[poids].sum(axis=1, skipna=True)

In [ ]:
df['Total_Poids']

0       406.0
1       552.0
2       247.0
3       427.0
4       385.0
        ...
5510    360.0
5511    360.0
5512    270.0
5513    480.0
5514    520.0
Name: Total_Poids, Length: 5515, dtype: float64

In [ ]:
df.head(1)

,DTronc,LTronc,DChar,LChar,DChar1,LChar1,DChar2,LChar2,DChar3,LChar3,...,DFr3,PFr4,DFr4,PFr5,DFr5,PFr6,DFr6,year,variety,Total_Poids
0,65.5,43.0,37.5,54.0,62.5,39.0,48.0,4.0,13.5,12.0,...,64.5,NaN,NaN,NaN,NaN,NaN,NaN,2019,1,406.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5515 entries, 0 to 5514
Data columns (total 32 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DTronc       5515 non-null   float64
 1   LTronc       5515 non-null   float64
 2   DChar        5515 non-null   float64
 3   LChar        5512 non-null   float64
 4   DChar1       5045 non-null   float64
 5   LChar1       5201 non-null   object
 6   DChar2       3766 non-null   object
 7   LChar2       3889 non-null   float64
 8   DChar3       2374 non-null   float64
 9   LChar3       2524 non-null   float64
 10  DChar4       1226 non-null   float64
 11  LChar4       1318 non-null   float64
 12  DChar5       759 non-null    float64
 13  LChar5       775 non-null    object
 14  NumRam       5515 non-null   object
 15  DRam         5504 non-null   object
 16  LRam         5352 non-null   float64
 17  PFr1         5005 non-null   float64
 18  DFr1         4589 non-null   float64
 19  PFr2         3835 non-null   float64
 20  DFr2         3513 non-null   float64
 21  PFr3         2301 non-null   float64
 22  DFr3         2152 non-null   float64
 23  PFr4         1029 non-null   float64
 24  DFr4         985 non-null    float64
 25  PFr5         503 non-null    float64
 26  DFr5         495 non-null    float64
 27  PFr6         248 non-null    float64
 28  DFr6         243 non-null    float64
 29  year         5515 non-null   int64
 30  variety      5515 non-null   int64
 31  Total_Poids  5515 non-null   float64
dtypes: float64(25), int64(2), object(5)
memory usage: 1.3+ MB

In [ ]:
df.drop([ 'DFr1', 'DFr2', 'DFr3', 'DFr4','DFr6','DFr5'], axis=1, inplace=True)

In [ ]:
df

,DTronc,LTronc,DChar,LChar,DChar1,LChar1,DChar2,LChar2,DChar3,LChar3,...,LRam,PFr1,PFr2,PFr3,PFr4,PFr5,PFr6,year,variety,Total_Poids
0,65.5,43.0,37.5,54.0,62.5,39.0,48.0,4.0,13.5,12.0,...,48.5,119.0,151.0,136.0,NaN,NaN,NaN,2019,1,406.0
1,65.5,43.0,37.5,54.0,62.5,39.0,NaN,NaN,NaN,NaN,...,68.0,129.0,136.0,140.0,147.0,NaN,NaN,2019,1,552.0
2,65.5,43.0,37.5,54.0,62.5,39.0,NaN,48.0,19.0,23.0,...,19.0,135.0,112.0,NaN,NaN,NaN,NaN,2019,1,247.0
3,65.5,43.0,37.5,54.0,62.5,39.0,NaN,NaN,NaN,5.5,...,49.0,192.0,116.0,119.0,NaN,NaN,NaN,2019,1,427.0
4,65.5,43.0,37.5,54.0,62.5,39.0,NaN,NaN,NaN,28.0,...,44.5,119.0,127.0,139.0,NaN,NaN,NaN,2019,1,385.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5510,68.0,33.0,35.0,148.2,71.0,143.2,43.5,9.0,38.2,27.5,...,80.0,120.0,100.0,140.0,NaN,NaN,NaN,2022,2,360.0
5511,68.0,33.0,35.0,148.2,71.0,143.2,43.5,32.0,NaN,NaN,...,44.0,150.0,130.0,80.0,NaN,NaN,NaN,2022,2,360.0
5512,68.0,33.0,35.0,148.2,71.0,143.2,43.5,40.3,NaN,NaN,...,61.0,140.0,130.0,NaN,NaN,NaN,NaN,2022,2,270.0
5513,68.0,33.0,35.0,148.2,71.0,143.2,43.5,42.3,NaN,NaN,...,50.0,180.0,120.0,180.0,NaN,NaN,NaN,2022,2,480.0
5514,68.0,33.0,35.0,148.2,71.0,143.2,43.5,46.3,NaN,NaN,...,79.0,60.0,120.0,100.0,140.0,100.0,NaN,2022,2,520.0

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split

train_data, test_data = train_test_split(df, test_size=0.2, random_state=42)

# Save the training and testing data 
train_data.to_csv('/content/drive/MyDrive/train_dataset.csv', index=False)
test_data.to_csv('/content/drive/MyDrive/test_dataset.csv', index=False)